<!DOCTYPE html>
<html>
<head>
 <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-xpQNcoacYF/4TKVs2uD3sXyaQYs49wxwEmeFNkOUgun6SLWdEbaCOv8hGaB9jLxt" crossorigin="anonymous">
 <meta charset="utf-8">
 <link rel="stylesheet" href="master.css">
 <style>
 @import url('https://fonts.googleapis.com/css?family=Ubuntu');
 </style>
 <title>Quizz PassNum</title>
</head>

<body class="bg-color__element">
 <div class="pt-2 m-0 container-fluid row"><!--Container Principal-->

   <div class="pt-1 pb-1 container-fluid bg-color__body col-10 row justify-content-center mx-auto round"><!--Englobe la Question et le Timer-->
     <div class="col-lg-12 col-md-12 pt-2"><!--Englobe la question-->
       <div class="text-center">
         <p class="h3"><!--Emplacement de la Question--></p>
       </div>
     </div>
     <div class="p-0 m-0 progress col-md-9 m-3 round"><!--Englobe le Timer-->
        <div class="progress-bar bg--yellow animation--slide-left " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div><!--Emplacement du Timer-->
     </div>
   </div>

   <div class="container row mx-auto d-flex col-12"><!--Englobe les 4 réponses-->

     <div class="container row col-10 justify-content-center mx-auto pt-5"><!--Englobe les 2 réponses du haut-->
       <div class="col-lg-5 col-md-12 pb-3"><!--Englobe le 1ère réponse-->
         <button type="button" class="bg-color__body p-4 btn btn-lg col-12 mt-2 text-dark round"><p></p></button><!--Réponse 1-->
       </div>
       <div class="col-lg-5 col-md-12 pb-3"><!--Englobe la 2ème réponse-->
         <button type="button" class="bg-color__body p-4 btn btn-lg col-12 mt-2 text-dark round"><p></p></button><!--Réponse 2-->
       </div>
     </div>

     <div class="container row col-10 justify-content-center mx-auto pt-5"><!--Englobe les 2 réponses du bas-->
       <div class="col-lg-5 col-md-12 pb-3"><!--Englobe la 3ème réponse-->
         <button type="button" class="bg-color__body p-4 btn btn-lg col-12 mt-2 text-dark round"><p></p></button><!--Réponse 3-->
       </div>
       <div class="col-lg-5 col-md-12 pb-3"><!--Englobe la 4ème réponse-->
         <button type="button" class="bg-color__body p-4 btn btn-lg col-12 mt-2 text-dark round"><p></p></button><!--Réponse 4-->
       </div>
     </div>

   </div>

 </div>
</body>
</html>
